/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #a2b9bc;
  font-family: "Raleway", sans-serif;
}
/*height:100vh good for responsive */
/* .outer-div-container {
  padding: 10px;
  height: 100vh;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  padding-right: 50px;
  font-size: 1.2rem;
} */
/* a {
 outline:none;
 text-decoration: none;
 color:black;
}
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
  /* height: 50%;
  width: 50%;
  margin: 8% auto;
  background-color: cadetblue;
  box-shadow: 20px 20px 50px grey;
} */
/* .quiz-intro { */
  /* position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); */
  /* text-align: center;
  text-decoration: none;
  line-height: 1.5;
  font-size: 1rem;
}
.content {
  padding: 10px;
  font-size: 1.2rem;
} */ 
/* .button {
  cursor: pointer;
  background-color: whitesmoke;
  color:black;
  text-align: center;
  text-decoration: none;
  border:1px solid #b0c4d8;
  margin: 20px 20px;
  padding: 15px 32px;
  font-size: 1.1em;
  border-radius:20px 10px;
  
} */
/* .button:hover{
    background-color: darkgoldenrod;
}
.hidden {
  display: none;
}
section {
  line-height: 1.8;
  font-size: 1.2rem;
}
section h2 {
  padding: 10px 10px;
}
label {
  margin-left: 8px;
}
 */

