*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    /* background-color: bisque; */
    /* background: linear-gradient(to bottom, #33ccff 0%, #993366 100%); */
    background-color:#a2b9bc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/*height:100vh good for responsive */
.outer-div-container{
    padding:10px;
    height:100vh;
}
.nav-bar{ 
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top: 5px;  
    padding-right:50px;
    font-size: 1.2rem;
}
.inner-container{
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  /* position: relative; */
  height: 50%;
  width:50%;
  margin:8% auto ;
  background-color:cadetblue;
  box-shadow: 20px 20px 50px grey;
}
.quiz-intro{
    /* position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
    display: inline-block;
    font-size:1.0rem;
}
.content{
    padding:10px;
}
.button{
    cursor:pointer;
    color:whitesmoke;
    text-align: center;
    text-decoration: none;
    border:none;
    margin:20px 20px;
    padding:15px 32px;
    background-color:darkgoldenrod;
    font-size: 1.0em ;
    border-radius: 10px;
}
.hidden{
    display:none;
}

 